.states :hover {
    fill: lightpink;
}

.state-borders {
    fill: none;
    stroke: #fff;
    stroke-width: 0.5px;
    stroke-linejoin: round;
    stroke-linecap: round;
    pointer-events: none;
}

.bar {
    fill: lightblue;
    stroke: black;
}

.bar:hover {
    fill: brown;
}

.d3-tip {
    line-height: 1;
    padding: 6px;
    background: rgba(0, 0, 0, 0.7);
    color: #ffffff;
    border-radius: 4px;
    font-size: 12px;
}

.table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.table tbody {
    display: block;
    width: 100%;
    overflow: auto;
    height: 500px;
}

.table thead tr {
    display: block;
}

.table thead {
    background: black;
    color: #fff;
}

.table th, .table td {
    border: 1px solid #ddd;
    padding: 5px;
    text-align: left;
    width: 120px
}

.table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table tr:hover {
    background-color: #ddd;
}

.table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: lightblue;
    color: black;
}

.line {
    fill: none;
    stroke: rgb(99, 116, 146);
    stroke-width: 3;
}

.overlay {
    fill: none;
    pointer-events: all;
}

/* Style the dots by assigning a fill and stroke */
.dot {
    fill: lightblue;
    stroke: grey;
}

.focus circle {
    fill: none;
    stroke: steelblue;
}

.tooltipcharts {
    position: absolute;
    width: auto;
    height: auto;
    pointer-events: none;
    padding: 6px;
    background: rgba(29, 24, 24, 0.9);
    color: #fff8f8;
    border-radius: 4px;
    font-size: 12px;
    border: 1px solid #d9d9d9;
}

.tooltipcharts.n:after {
    margin: -2px 0 0 0;
    top: 100%;
    left: 0;
}